<%- include("head.partial.ejs") %>

<main>
  <h1>Książka Kucharska</h1>
  <p>Witaj w mojej książce kucharskiej! Znajdziesz tu przepisy na każdą okazję.</p>
  <p><a href="/przepisy">Zobacz przepisy</a></p>
</main>

<%- include("foot.partial.ejs") %>