<%- include("head.partial.ejs") %>

<main>
  <h1><%= title %></h1>
  <div>
    <%- include("forms/generic.ejs", form) %>
  </div>
  <span>Nie masz konta? <a href="/auth/signup">Zarejestruj się!</a></span>
</main>

<%- include("foot.partial.ejs") %>